//***********Fonts************
$robotoMono: "Roboto Mono", monospace;
$dmSans: "DM Sans", sans-serif;
//***********Colors***********
$green: #64f4ac;
$lightGrey: #2d2e31;
$darkGrey: #25262a;
$lightText: #8c8d90;
