@import "../../constants/variables.scss";
.testimonial-container {
  max-width: 1200px;
  margin: auto;
}
#tetstimonial {
  width: 100%;
  background-color: $lightGrey;
  padding: 3rem;
  @media screen and (max-width: 500px) {
    padding: 3rem 2rem;
  }
}

.reviewers-conatiner {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
  @media screen and (max-width: 1000px) {
    margin-top: 2rem;
  }
  @media screen and (max-width: 800px) {
    justify-content: center;
    align-items: center;
    div {
      width: auto;
    }
  }
}

.testimonial-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
  @media screen and (max-width: 800px) {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  h1 {
    font-family: $dmSans;
    color: #fff;
    font-size: 3rem;
  }
  span {
    font-family: $robotoMono;
    color: #7d7f82;
  }
}
